.smallStars {
    width:48px;
    height:9px;
    background:transparent url(/modules/productreviews/img/smallstars_sprite.png) no-repeat scroll left top;
	display:-moz-inline-stack;
	display: inline-block;
	zoom:1;
	*display:inline;
}

.smallStars-0 {
    background-position:0 0;
}

.smallStars-1 {
    background-position:0 -9px;
}

.smallStars-2 {
    background-position:0 -18px;
}

.smallStars-3 {
    background-position:0 -27px;
}

.smallStars-4 {
    background-position:0 -36px;
}

.smallStars-5 {
    background-position:0 -45px;
}

.smallStars-6 {
    background-position:0 -54px;
}

.smallStars-7 {
    background-position:0 -63px;
}

.smallStars-8 {
    background-position:0 -72px;
}

.smallStars-9 {
    background-position:0 -81px;
}

.smallStars-10 {
    background-position:0 -90px;
}

#review_block {
	background: #f1f2f4 url('../img/product-buy-bg.gif') repeat-x top left;
	font-size: 1.1em;
	padding: 0.7em;
	color: #374853;
	border: 1px #d0d3d8 solid;
	margin-bottom: 1.5em
}